<h2>SMS Configuration</h2>

<p>Thanks for paying for SMS alerts! As promised, here's how to set up SMS alerts for your account: </p>

<ol>
  <li>Go back to the <%= link_to "homepage", root_path %></li>
  <li>Enter your SMS email address (see table below)</li>
  <li>Choose the classes you want to receive SMS alerts for</li>
</ol>
<br />

<table class='table'>
  <tr>
    <th>Carrier</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>AT&amp;T</td>
    <td>[10-digit phone number]@txt.att.net</td>
  </tr>
  <tr>
    <td>Sprint</td>
    <td>[10-digit phone number]@messaging.sprintpcs.com</td>
  </tr>
  <tr>
    <td>T-Mobile</td>
    <td>[10-digit phone number]@tmomail.net</td>
  </tr>
  <tr>
    <td>Verizon</td>
    <td>[10-digit phone number]@vtext.com</td>
  </tr>
</table>

If for some reason you need a refund, <%= link_to "email me", 'mailto:admin@classtrackit.com?subject=Classtrack refund request' %>.
