<div id="flash">
  <% flash.each do |key, value| -%>
    <% unless key == :student_id %>
      <div class="alert <%= bootstrap_flash_key(key) %>"><%=h value %></div>
    <% end %>
  <% end -%>
</div>
